[submodule "themes/compost"]
	path = themes/compost
	url = https://github.com/canstand/compost.git
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
